<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>LINE@つるみちゃん＋</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/send_url.js"></script>
  </head>
  <body>
    <div class="top-wrapper">
      <div class="top-detail">
        <h2 class="subtitle">応答メッセージ追加ページ</h2>
        <h1 class="title">LINE＠鶴見＋</h1>
        <p class="description">
          LINE@つるみちゃんに応答メッセージを追加できます。
          <br>
          話しかけたい言葉と鶴見中尉殿から受け取りたいお返事のペアをリストに登録してください。
        </p>
        <a href="/index" class="index-button">応答を追加する</a>
      </div>
      <div class="top-image">
        <img src="/images/top.png">
      </div>
    </div>
  </body>
</html>
